<!--=================================================================-->
<style type="text/css">
body{
  background:rgba(60, 141, 188,0.7);
}
</style>
<!--=================================================================-->
<nav class="navbar navbar-default" style="background: #3c8dbc;margin-bottom:0px;border:0px;border-radius: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:#3c8dbc;">
        <span class="icon-bar" style="background:rgba(255, 255, 255, 0.8);"></span>
        <span class="icon-bar" style="background:rgba(255, 255, 255, 0.8);"></span>
        <span class="icon-bar" style="background:rgba(255, 255, 255, 0.8);"></span>
      </button>
      <div style="text-align: center">
      <a  href="#"><img src="img/logo.png" alt="Mountain View" style="margin-top:1%;height:auto;width:50%;max-width:130px;"></a></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" data-target="#registro" style="color:rgba(255, 255, 255, 0.8);"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-4" style="padding:15% 5% 5% 5%;">
      <div style="text-align: center;">
          <p><i class="fa fa-user fa-5x" style="background:white;padding: 20px 10px;width: 110px;border-radius: 100px;" aria-hidden="true"></i></p>
      </div>
      <form name="form" ng-submit="signin()" style="margin-top:10%;text-align:center;">
        <h1>Inicio Sesión</h1>
              <div class="form-group">
                  <input type="text" name="username" ng-model="usuario.username" class="form-control" placeholder="Nombre de usuario"/>
              </div>
              <div class="form-group">
                  <input type="password" name="password"  ng-model="usuario.password" class="form-control" placeholder="Password"/>
              </div>
          <div class="footer">
              <button type="submit" class="btn bg-olive btn-block">Entrar</button>
          </div>
      </form>
      <h4 style="margin-top:3%;text-align:center;">Si aún no tienes una cuenta, <a id="registro_enlace" data-toggle="modal" data-target="#registro">registrate</a>.</h4>
  </div>
  <div class="col-md-8" style="background:white;">
    <div style="text-align: center; margin-top:7%;margin-bottom:3%;background:#FFFFFF;">
        <i class="fa fa-quote-left fa-4x" aria-hidden="true"><h1>Donde hay educación no hay discriminación</h1></i><h1>La tecnología por sí sola no basta. También tenemos que poner el corazón.</h1><i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div style="text-align:center;margin-bottom:1%;">
      <img src="img/preview.jpg" alt="Laptop View" style="height:auto;max-width: 1000px;margin: auto;"></img>
    </div>
  </div>
</div>
<!--==========================================================-->
<!--Formulario de registro-->
<!--==========================================================-->
<div class="container" >
  <div class="modal fade" id="registro" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="margin-top:50%">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Registro de Usuarios</h2>
        </div> 
        <form ng-submit="register()" style="margin:50px;">
                <div class="form-group">
                    <input type="text" name="nombre" ng-model="usuario.nombre" class="form-control" placeholder="Nombre Completo" required/>
                </div>
                 <div class="form-group">
                    <input type="text" name="nombre_usuario" ng-model="usuario.nombre_usuario" class="form-control" placeholder="Nombre de usuario" required/>
                </div>
                <div class="form-group">
                    <input type="text" name="institucion" ng-model="institucion" class="form-control" placeholder="correo institucional" required/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" ng-model="usuario.password" class="form-control" placeholder="Password" required/>
                </div>
                <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="titulo">Titulo de la imagen</label>  
              <div class="col-md-4">
              <input id="titulo" name="titulo" type="text" placeholder="" class="form-control input-md">
                
              </div>
            </div>

            <!-- File Button --> 
            <div class="form-group">
              <label class="col-md-4 control-label" for="file">Subir Imagen</label>
              <div class="col-md-4">
                <input id="file" name="file" class="input-file" type="file">
              </div>
            </div>
            <div class="footer">
                <button type="submit" ng-disabled="enviando" class="btn bg-olive btn-block">Registrar</button>
            </div>
        </form>
      </div><!-- div-modal-content-->
    </div><!-- div-modal-dialog -->
  </div><!-- div-modal --> 
</div><!-- div-container-->


<!--==========================================================-->
<!-- footer ================================================== -->
<!--==========================================================-->
<footer>
    <div class="footer-main" style="margin: auto;padding: 30px 30px 30px 30px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div class="row">  
          <div class="col-md-12">
            <div class="col-md-4" align="center">
              <div class="footer-logo"></div>
                <p>
                Calle 117D #58-50<br>
                Bogotá, Colombia<br>
                contacto.apptou@gmail.com &nbsp; <br>
                 +57 301 6627555<br>
                </p>
            </div> <!-- /footer-info -->
            <div class="col-md-4" align="left">
              <h4>Site Links</h4>
              <ul>
                <li><a ui-sref="info">Acerca de nosotros</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div> <!-- /site-links -->  
            <div class="col-md-4" align="left">
              <h4>Social</h4>
                <ul>
                  <li><a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i> Twitter</a></li>
                  <li><a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Facebook</a></li>
                  <li><a href="http://www.instagram.com"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i> Instagram</a></li>
                  <li><a href="http://www.vimeo.com"><i class="fa fa-vimeo-square fa-lg" aria-hidden="true"></i> Vimeo</a></li>
                </ul>            
            </div> <!-- /social --> 
          </div> <!-- /col-md-12 -->
        </div> <!-- /row -->
    </div> <!-- /footer-main -->

      <div class="footer-bottom">
        <div class="row">
          <div class="col-twelve">
            <div class="copyright">
              © Copyright ApptoU 2016. 
             </div>
             <div id="go-top" style="display: block;">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
             </div>         
          </div>
        </div> <!-- /footer-bottom -->      
      </div>
   </footer> 

<!-- 
 * ===================================================================
 * footer
 *
 * ===================================================================
 -->
<style type="text/css">

#registro_enlace{
  color:#1f4961;
  font-weight: bold;
}
#registro_enlace:hover{
  color:white;
}

footer {
  display: block;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-family: "raleway-medium", sans-serif;
  background: #367fa9;
  color: #465166;
}
footer a, footer a:visited {
  color: #05bca9;
}
footer a:hover, footer a:focus {
  color: #FFFFFF;
}
footer h4 {
  color: #FFFFFF;
}
footer ul {
  margin-left: 0;
}
footer ul li {
  padding-left: 0;
}
.footer-main {
  background: #3c8dbc;
}
.footer-main ul {
  font-size: 1.5rem;
}
.footer-main ul li {
  list-style: none;
}
.footer-main ul a, .footer-main ul a:visited {
  color: #465166;
}
.footer-main ul a:hover, .footer-main ul a:focus {
  color: #FFFFFF;
}
.footer-main .footer-logo {
  width: 165px;
  height: 100px;
  background: url("img/logo.png") no-repeat center;
  background-size: 165px 100px;
  margin: -.6rem 0 2.1rem -.3rem;
  display: block;
}

.footer-bottom {
  margin-top: 3rem;
  text-align: center;
}
.footer-bottom .copyright {
  display: inline-block;
  color: #FFFFFF;
}
.footer-bottom .copyright :after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: #FFFFFF;
}
.footer-bottom .copyright :last-child::after {
  display: none;
}

}
</style>