<div class="form-box" id="login-box">
    <div class="header">Registro de usuarios</div>
    <form ng-submit="register()">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="nombre" ng-model="usuario.nombre" class="form-control" placeholder="Nombre Completo"/>
            </div>
             <div class="form-group">
                <input type="text" name="nombre_usuario" ng-model="usuario.nombre_usuario" class="form-control" placeholder="Nombre de usuario"/>
            </div>
            <div class="form-group">
                <input type="text" name="institucion" ng-model="institucion" class="form-control" placeholder="correo institucional"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" ng-model="usuario.password" class="form-control" placeholder="Password"/>
            </div>
        </div>
        <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="titulo">Titulo de la imagen</label>  
              <div class="col-md-4">
              <input id="titulo" name="titulo" type="text" placeholder="" class="form-control input-md">
                
              </div>
            </div>

            <!-- File Button --> 
            <div class="form-group">
              <label class="col-md-4 control-label" for="file">Subir Imagen</label>
              <div class="col-md-4">
                <input id="file" name="file" class="input-file" type="file">
              </div>
            </div>
            
        <div class="footer">
            <button type="submit" ng-disabled="enviando" class="btn bg-olive btn-block">Registrar</button>
        </div>

    </form>
</div>