<!--encabezado de dashboard-->
<section class="encabezado-panel" style="margin: auto;padding: 30px 30px 30px 30px;background:#282828;opacity: 0.9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:20px;">
	<div class="row">
		  <div class="col-md-12">
			    <h1 style="color:#FFFFFF">Bienvenido</h1>
			      <div class="col-md-4" align="center">
			        <h4 style="color:#FFFFFF">Clases incritas: <STRONG>{{num_mat}}</STRONG></h4>
			      </div><!-- div-columna md-4 -->
			      <div class="col-md-4" align="center">
			        <h4 style="color:#FFFFFF">Alertas activas: <STRONG>6</STRONG></h4>
			      </div><!-- div-columna md-4 -->
			      <div class="col-md-4" align="center">
              <h4 style="color:#FFFFFF">Alertas creadas: <STRONG>{{alertas_creadas}}</STRONG></h4>
			      </div><!-- div-columna md-4 -->
		  </div><!-- div-columna -->
	</div><!-- div-row -->
</section><!-- seccion-encabezado -->

<!--Lista de alertas-->
 <section class="alertas-panel">
  					<h3>Alertas recientes</h3>
  					<div class="panel-body">
              <div ng-repeat="alerta in alertas_recientes" class="alert alert-info" role="alert" style="padding-top:20px;padding-bottom:20px;">
                 <STRONG>{{alerta.materia_nombre}}</STRONG> {{alerta.descripcionAlerta}}<STRONG> Martes</STRONG>
                 <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
              </div><!-- div-alert -->
             <a ng-click="mas()">Ver mas</a>
  					</div><!-- panel-body -->
  </section><!-- seccion-alertas -->



