<nav class="navbar navbar-static-top" role="navigation">
        
    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="dropdown" role="button" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>

     <ul class="dropdown-menu" >
            <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <li><a ui-sref="app.inscribir"><i class="fa fa-pencil-square-o"></i><span>Inscribir</span></a></li>
            <li ui-sref-active="active"  href="javascript:void(0);" ><a ng-click=goToMateria(materia._id)><i class="fa fa-book"></i><span> {{materia.curso}} </span></a></li>   
    </ul>

    <div class="navbar-right">
        <ul class="nav navbar-nav">                        
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>{{usuario.nombre}} <i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu">
                    
                    <li class="user-header bg-light-blue">
                        <img src="img/avatar3.png" class="img-circle" alt="User Image">
                        <p>
                            {{usuario.nombre}} - {{usuario.nombre_usuario}}
                            
                        </p>
                    </li>
                    
                    
                    
                    <li class="user-footer">
                        
                        <div class="pull-right">
                            <a ng-click="logout()" class="btn btn-default btn-flat">Cerrar sesion</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>