<!--=================================================================-->
<style type="text/css">
body{
  background: white;
}
</style>
<!--=================================================================-->
<nav class="navbar navbar-default navbar-fixed-top" style="background: #3c8dbc;border-color:#3c8dbc;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:#3c8dbc;">
        <span class="icon-bar" style="background:rgba(255, 255, 255, 0.8);"></span>
        <span class="icon-bar" style="background:rgba(255, 255, 255, 0.8);"></span>
        <span class="icon-bar" style="background:rgba(255, 255, 255, 0.8);"></span>
      </button>
      <div style="text-align: center">
      <a  href="#"><img src="img/logo.png" alt="Mountain View" style="margin-top:1%;height:auto;width:50%;max-width: 130px;"></a></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li  style="background: #367fa9;box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);"><a ui-sref="login" style="color:#FFFFFF"><i class="fa fa-home fa-lg" aria-hidden="true"></i> <STRONG>Home</STRONG></a></li>
        <li><a href="#que" style="color:rgba(255, 255, 255, 0.8)"><STRONG>¿Que es?</STRONG></a></li>
        <li><a href="#como" style="color:rgba(255, 255, 255, 0.8)"><STRONG>¿Como funciona?</STRONG></a></li>
        <li><a href="#caracteristicas" style="color:rgba(255, 255, 255, 0.8)"><STRONG>Caracteristicas</STRONG></a></li>
        <li><a href="#preguntas" style="color:rgba(255, 255, 255, 0.8)"><STRONG>Preguntas frecuentes</STRONG></a></li>
      </ul>
    </div>
  </div>
</nav><!-- nav-bar -->

<!--===================================================================
 *
 * Secciones de información
 *
 ===================================================================-->

<!-- Seccion que es-->
<section style="background:#F2F2F2;" id="que" class="container-fluid">
<div style="text-align: center;padding:30px 30px 30px 30px;padding-top:130px">
  <h1>¿Que es?</h1>
  <hr style="border-color:#05BCA9;background-color:#05BCA9;height: 3px;width:170px;"></hr>
</div>

<div style="text-align: center;">
  <div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active" style="background:#05BCA9;"></li>
    <li data-target="#carousel" data-slide-to="1" style="background:#05BCA9;"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" align="center">     
        <p style="color:#9F9F9F;font-size: 200%;line-height: 1.8;margin-top:50px;margin-bottom:50px;max-width: 500px;"><i class="fa fa-quote-left fa-lg" aria-hidden="true" style="color:#D4D4D4;font-size: 60%;"></i> AppToU es la aplicación que personalizamos para que puedas coordinar tu comunidad de Colegio o Universidad, creando alertas de clases, profesores, rutas, padres de familia, estudiantes, entre otras. <i class="fa fa-quote-right fa-lg" aria-hidden="true" style="color:#D4D4D4;font-size: 60%;"></i></p>
    </div>
    <div class="item" align="center">
        <p style="color:#9F9F9F;font-size: 200%;line-height: 1.8;margin-top:50px;margin-bottom:50px;max-width: 500px;"><i class="fa fa-quote-left fa-lg" aria-hidden="true" style="color:#D4D4D4;font-size: 60%;"></i> Contáctate con nosotros para que hagamos una aplicación a la medida para tu comunidad; a partir de ése momento, tu comunidad podrá compartir información de alertas y contenidos, para ayudarse entre ellos, ahorrando tiempo y dinero. <i class="fa fa-quote-right fa-lg" aria-hidden="true" style="color:#D4D4D4;font-size: 60%;"></i></p>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev" >
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>
</div>

<div align="center" >
  <div class="row" style="margin-top:70px;margin-bottom:50px;max-width: 1250px;">  
    <div class="col-md-12">
      <div class="col-md-4" align="center">
        <div style="margin-bottom:10px;"><i class="fa fa-graduation-cap fa-5x" aria-hidden="true" style="color:#757575"></i></div>
        <h4>Colegios</h4>
        <p style="color:#9F9F9F;font-size: 130%;margin-top:50px;margin-bottom:50px;max-width: 250px;">Utilizando alertas podrás informar de un evento (mañana no hay clase) a todo el colegio, comunicar profesores con monitores de rutas para que recojan a los estudiantes sin retrasos, los profesores podrán informar la no asistencia de los estudiantes a los padres, los alumnos podrán compartir información.</p>
      </div>
      <div class="col-md-4" align="center">
        <div style="margin-bottom:10px;"><i class="fa fa-university fa-5x" aria-hidden="true" style="color:#757575"></i></div>
        <h4>Universidades</h4>
        <p style="color:#9F9F9F;font-size: 130%;margin-top:50px;margin-bottom:50px;max-width: 250px;">Utilizando las alertas estarás ayudando a tus compañeros a que estén informados de todo lo que pasa en sus clases; reporta estado de ánimo de tu profesor, si hará Quiz al final de la clase o en próxima clase, si tomaron asistencia. Así en caso de que no vayas tendrás el resumen de cada clase e incluso del semestre.</p>
      </div>
      <div class="col-md-4" align="center">
        <div style="margin-bottom:10px;"><i class="fa fa-briefcase fa-5x" aria-hidden="true" style="color:#757575"></i></div>
        <h4>Empresas</h4>
        <p style="color:#9F9F9F;font-size: 130%;margin-top:50px;margin-bottom:50px;max-width: 250px;">Utilizando alertas podrás comunicar a los proveedores sobre la falta de insumos, a los clientes sobre la entrega de productos y servicios, a los trabajadores les podrás coordinar para obtener el trabajo de forma 100% eficiente.</p>
      </div>
    </div>   
</div>
</section>

<!-- Seccion como funciona-->
<section id="como" class="container-fluid">
<div align="center" style="padding-top:120px;">
  <h1>¿Como funciona?</h1>
  <p style="color:#B9B8B8;font-size: 120%;max-width:600px;">Todas aquellas personas que quieres involucrar en tu comunidad, para que coordinen su trabajo. Deben seguir los siguientes pasos:</p>
  <hr style="border-color:#05BCA9;background-color:#05BCA9;height: 3px;width:170px;"></hr>
</div>

<div align="center">
  <div class="row" style="margin-top:20px;margin-bottom:50px;max-width: 1550px;">  
    <div class="col-md-12">
      <div class="col-md-3" align="center">
        <div>
          <div style="background:#38424e;color:#FFFFFF;height:50px;width: 50px;border-radius: 10px;padding:5px 5px 35px 5px;margin-top:70px;">
            <h3 style="">1</h3>          
          </div> 
          <h3 style="color: #05BCA9;">REGÍSTRATE</h3>
          <p style="color:#9F9F9F;font-size: 120%;margin-top:10px;max-width: 200px;">Ingresa a nuestra página (www.apptou.co) o descarga la Aplicación en tu celular desde AppleStore (si tu celular es de apple) o desde PlayStore (si tu celular es Android). Debes dar click sobre el botón “Crear Cuenta”. </p>
        </div>
        <div>
          <div style="background:#38424e;color:#FFFFFF;height:50px;width: 50px;border-radius: 10px;padding:5px 5px 35px 5px;margin-top:70px;">
            <h3 style="">3</h3>          
          </div> 
          <h3 style="color: #05BCA9;">CREA TUS ALERTAS</h3>
          <p style="color:#9F9F9F;font-size: 120%;margin-top:10px;max-width: 200px;">En cada comunidad habrá cursos, rutas, eventos, en los que estás involucrado en tu colegio o universidad. En todos estos, podrás crear contenidos y alertas que aportarán a tus compañeros. Entra al curso y luego oprime el botón crear alerta. </p>
        </div>
      </div>
      <div class="col-md-6" align="center" style="margin-top:200px;margin-bottom:200px;">
        <img src="img/preview.jpg" alt="Laptop View" style="height:auto;width:100%;max-width: 1000px;margin:auto;"></img>
      </div>
      <div class="col-md-3" align="center">
        <div>
          <div style="background:#38424e;color:#FFFFFF;height:50px;width: 50px;border-radius: 10px;padding:5px 5px 35px 5px;margin-top:70px;">
            <h3 style="">2</h3>          
          </div> 
            <h3 style="color: #05BCA9;">CREA TU PERFIL</h3>
            <p style="color:#9F9F9F;font-size: 120%;margin-top:10px;max-width: 200px;">Usa tu correo, nombre y datos de tu comunidad para crear tu perfil. Los datos son muy importantes porque te enlazarán a una comunidad específica, y permitirán que te identifiquen como parte de la misma. </p>
        </div>
        <div>
          <div style="background:#38424e;color:#FFFFFF;height:50px;width: 50px;border-radius: 10px;padding:5px 5px 35px 5px;margin-top:70px;">
            <h3 style="">4</h3>          
          </div> 
            <h3 style="color: #05BCA9;">CONSULTA LAS ALERTAS</h3>
            <p style="color:#9F9F9F;font-size: 120%;margin-top:10px;max-width: 200px;">Visualiza el registro de alertas de cada seccion de tu comunidad (clases, profesores, rutas), los cuales se presentan en formas de estadísticas, calendarios, o temporizadores según sea más conveniente para tu visualización. </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Seccion caracteristicas-->
<section style="background:#090909 url('img/features.jpg') no-repeat center;background-size: cover;" id="caracteristicas" class="container-fluid">
<div style="text-align: center;padding-top:100px;">
  <h1 style="color:#FFFFFF">Caracteristicas</h1>
  <p style="color:#B9B8B8;font-size: 120%;">Las preguntas frecuentes de nuestros clientes</p>
  <hr style="border-color:#05BCA9;background-color:#05BCA9;height: 3px;width:170px;"></hr>
</div>
<div align="center">
  <div class="row" style="margin-top:70px;margin-bottom:50px;max-width: 1250px;">  
    <div align="center" class="col-md-12">
      <div class="col-md-4" align="center" style="color:#FFFFFF;">
        <div>
          <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
          <h4 style="color: #05BCA9;margin-top:30px;">APLICACIÓN AMIGABLE</h4>
          <p style="color:#B9B8B8;font-size: 120%;max-width: 250px;margin-top:30px;">AppToU se diseñó para ser intuitiva y fácil de usar. Está hecha de tal forma que tiene pocas pantallas y pocos niveles de profundidad, es decir, su uso es fácil de entender e incluso de intuir; cualquier persona puede usar todas las funciones de AppToU.</p>
        </div>
      </div>
      <div class="col-md-4" align="center" style="color:#FFFFFF;">
        <div>
          <i class="fa fa-eye fa-4x" aria-hidden="true"></i>
          <h4 style="color: #05BCA9;margin-top:30px;">TOTALMENTE SENSIBLE</h4>
          <p style="color:#B9B8B8;font-size: 120%;max-width: 250px;margin-top:30px;">Todo el entorno de AppToU es funcional, y aporta información valiosa para los estudiantes, profesores, directivos, y empresarios.</p>
        </div>
      </div>
      <div class="col-md-4" align="center" style="color:#FFFFFF;">
        <div>
          <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
          <h4 style="color: #05BCA9;margin-top:30px;">DISEÑO ESTILIZADO</h4>
          <p style="color:#B9B8B8;font-size: 120%;max-width: 250px;margin-top:30px;">AppToU está organizada para ser fácil de entender a primera vista; en pocos segundos el usuario entiende la plataforma y está en capacidad de crear contenidos, visualizar y entender los datos de la comunidad.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:10px;padding-bottom:50px;max-width: 1250px;">  
    <div class="col-md-12">
      <div class="col-md-4" align="center" style="color:#FFFFFF;">
        <div>
          <i class="fa fa-file-code-o fa-4x" aria-hidden="true"></i>
          <h4 style="color: #05BCA9;margin-top:30px;">CÓDIGO LIMPIO</h4>
          <p style="color:#B9B8B8;font-size: 120%;max-width: 250px;margin-top:30px;">El código creado para AppToU está hecho a prueba de fallos, y con códigos de seguridad irrompibles. AppToU está localizada en servidores de Amazon Web Services, utilizando los servicios Premium de seguridad y hosting.</p>
        </div>
      </div>
      <div class="col-md-4" align="center" style="color:#FFFFFF;">
        <div>
          <i class="fa fa-database fa-4x" aria-hidden="true"></i>
          <h4 style="color: #05BCA9;margin-top:30px;">FÁCIL DE PERSONALIZAR</h4>
          <p style="color:#B9B8B8;font-size: 120%;max-width: 250px;margin-top:30px;">Los programadores de AppToU crearon un código que les permite hacer cambios de acuerdo a los intereses de los usuarios y comunidades que usarán la aplicación. Los diseñadores y el equipo comercial se reúnen con los directivos de los colegios, empresas, universidades, para convenir el mejor diseño para la entidad, luego transfieren la información a los programadores, quienes en menos de un mes realizan los cambios, y los prueban hasta quedar 100% sin errores.</p>
        </div>
      </div>
      <div class="col-md-4" align="center" style="color:#FFFFFF;">
        <div>
          <i class="fa fa-gift fa-4x" aria-hidden="true"></i>
          <h4 style="color: #05BCA9;margin-top:30px;">PLANES FLEXIBLES</h4>
          <p style="color:#B9B8B8;font-size: 120%;max-width: 250px;margin-top:30px;">Los usuarios de AppToU no deben pagar por el servicio; el valor es mínimo y, acordado y pagado por los directores de las instituciones, a fin de que los estudiantes o empleados la utilicen como herramienta tecnológica para optimizar sus labores.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Seccion de APP-->
<section style="background:#05BCA9;padding:30px 30px 30px 30px;" class="container-fluid">
<div style="text-align: center;">
  <h2 style="color:#FFFFFF;">Proximamente disponible en mobiles</h2>
  <p style="color:#FFFFFF;font-size: 120%;">Descarga el app ahora. Disponible en:</p>
  <div class="row" style="margin-top:70px;margin-bottom:50px;"> 
    <button class="btn btn-primary" style="background:#04a393;border-color:#04a393;color:#FFFFFF;height:60px;width:150px;border-radius: 50px;"><i class="fa fa-apple" aria-hidden="true"></i> App Store</button>
    <button class="btn btn-primary" style="background:#04a393;border-color:#04a393;color:#FFFFFF;height:60px;width:150px;border-radius: 50px;"><i class="fa fa-android" aria-hidden="true"></i> Play Store</button>
    <button class="btn btn-primary" style="background:#04a393;border-color:#04a393;color:#FFFFFF;height:60px;width:150px;border-radius: 50px;"><i class="fa fa-windows" aria-hidden="true"></i> Win Store</button>
  </div>
</div>
</section>

<!-- Seccion preguntas frecuentes-->
<section id="preguntas" class="container-fluid">
<div style="text-align: center;padding-top:120px;">
  <h1>¿Preguntas frecuentes?</h1>
  <p style="color:#B9B8B8;font-size: 120%;">Las preguntas frecuentes de nuestros clientes</p>
  <hr style="border-color:#05BCA9;background-color:#05BCA9;height: 3px;width:170px;"></hr>
</div>
<div align="center">
  <div class="row" style="margin-top:70px;margin-bottom:20px;max-width: 1050px;">  
    <div align="center" class="col-md-12">
      <div class="col-md-6" align="center">
        <h4>Cuales son las caracteristicas de seguridad?</h4>
        <p style="color:#B9B8B8;font-size: 120%;max-width: 400px;padding-top:30px;text-align: left;">La aplicación interactúa con una base de datos seguras, además de esto, creamos un filtrado de a las bases de datos, con lo cual se crea seguridad a fondo y con redundancia; de esta manera, si algún dato malicioso fue inyectado a la base de datos, nuestra lógica de filtrado lógica de filtrado, puede percatarse de ello.</p>
      </div>
      <div class="col-md-6" align="center">
        <h4>Como puedo actualizar mi perfil de usuario?</h4>
        <p style="color:#B9B8B8;font-size: 120%;max-width: 400px;padding-top:30px;text-align: left;">Por motivos de seguridad, no tienes permisos para cambiar tu usuario. En caso de que requieras cambio del mismo, debes enviar un correo a soporte.apptou@gmail.com. Solicitando claramente el cambio que necesitas; nuestros ingenieros analizarán el cambio, en caso de que lo veamos seguro, el cambio se realizará en las próximas 24 horas.</p>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:20px;margin-bottom:20px;max-width: 1050px;">  
    <div align="center" class="col-md-12">
      <div class="col-md-6" align="center">
        <h4>Que ventajas tiene personalizar mis alertas?</h4>
        <p style="color:#B9B8B8;font-size: 120%;max-width: 400px;padding-top:30px;text-align: left;">Personalizar las alertas, le dará a la plataforma el valor agregado que esperas para desarrollar el potencial tecnológico de tu institución. Cuanto más claras y hechas a la medida sean las alertas, tu información será más clara, confiable, y funcional; dando información de calidad a todos los usuarios, que les permitirá interactuar fácilmente, y apoyarse en la información para tomar decisiones efectivas, lo cual resultará en una comunicación 100% fiable y eficaz.</p>
      </div>
      <div class="col-md-6" align="center">
        <h4>Que ventajas puedo encontrar en ApptoU?</h4>
        <p style="color:#B9B8B8;font-size: 120%;max-width: 400px;padding-top:30px;text-align: left;">AppToU es la aplicación que personalizamos para tu institución educativa, para que puedas compartir información por medio de alertas, con tan solo un Click a toda la institución. Nuestro objetivo es facilitar la comunicación entre profesores, estudiantes, padres de familia, monitores, rutas. Ponemos a disposición de todas las personas del colegio una aplicación de fácil y gratuita descarga en celulares o tablets, y un sitio WEB gratuito para que todos se mantengan informados de los eventos y cambios dentro de las clases y en general de la institución.</p>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:20px;padding-bottom:20px;margin-bottom:70px;max-width: 1050px;">  
    <div align="center" class="col-md-12">
      <div class="col-md-6" align="center">
        <h4>Puedo mejorar mi plan de Basic a Gold?</h4>
        <p style="color:#B9B8B8;font-size: 120%;max-width: 400px;padding-top:30px;text-align: left;">Puedes aumentar tus funcionalidades en la aplicación, así como número de usuarios en tu institución educativa. Los directores deben contactar a los representantes de AppToU via telefónica o nuestro correo soporte.apptou@gmail.com.</p>
      </div>
      <div class="col-md-6" align="center">
        <h4>Por cuanto tiempo puedo usar mi plan de prueba?</h4>
        <p style="color:#B9B8B8;font-size: 120%;max-width: 400px;padding-top:30px;text-align: left;">Puedes contactarte a contacto.apptou@gmail.com para obtener un mes de prueba para tu institución educativa, es necesario programar una reunión con los directivos de la institución, antes de comenzar el periodo de prueba.</p>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Seccion de APP-->
<section style="padding-bottom:0px;">
<div style="text-align: center;">
  <a href="#"><button class="btn btn-primary" style="background:#404040;border-color:#404040;color:#FFFFFF;height:60px;width:60%;border-radius: 10px;"> <i class="fa fa-angle-double-up fa-3x" aria-hidden="true"></i></button></a>
  </div>
</div>
</section>

<!-- footer ================================================== -->
<footer>
    <div class="footer-main" style="margin: auto;padding: 30px 30px 30px 30px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div class="row">  
          <div class="col-md-12">
            <div class="col-md-4" align="center">
              <div class="footer-logo"></div>
                <p>
                Calle 117D #58-50<br>
                Bogotá, Colombia<br>
                contacto.apptou@gmail.com &nbsp; <br>
                 +57 301 6627555<br>
                </p>
            </div> <!-- /footer-info -->
            <div class="col-md-4" align="left">
              <h4>Site Links</h4>
              <ul>
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div> <!-- /site-links -->  
            <div class="col-md-4" align="left">
              <h4>Social</h4>
                <ul>
                  <li><a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i> Twitter</a></li>
                  <li><a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Facebook</a></li>
                  <li><a href="http://www.instagram.com"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i> Instagram</a></li>
                  <li><a href="http://www.vimeo.com"><i class="fa fa-vimeo-square fa-lg" aria-hidden="true"></i> Vimeo</a></li>
                </ul>            
            </div> <!-- /social --> 
          </div> <!-- /col-md-12 -->
        </div> <!-- /row -->
    </div> <!-- /footer-main -->

      <div class="footer-bottom">
        <div class="row">
          <div class="col-twelve">
            <div class="copyright">
              © Copyright ApptoU 2016. 
             </div>
             <div id="go-top" style="display: block;">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
             </div>         
          </div>
        </div> <!-- /footer-bottom -->      
      </div>
   </footer> 

<!-- 
 * ===================================================================
 * footer
 *
 * ===================================================================
 -->
<style type="text/css">

footer {
  display: block;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-family: "raleway-medium", sans-serif;
  background: #367fa9;
  color: #465166;
}
footer a, footer a:visited {
  color: #05bca9;
}
footer a:hover, footer a:focus {
  color: #FFFFFF;
}
footer h4 {
  color: #FFFFFF;
}
footer ul {
  margin-left: 0;
}
footer ul li {
  padding-left: 0;
}
.footer-main {
  background: #3c8dbc;
}
.footer-main ul {
  font-size: 1.5rem;
}
.footer-main ul li {
  list-style: none;
}
.footer-main ul a, .footer-main ul a:visited {
  color: #465166;
}
.footer-main ul a:hover, .footer-main ul a:focus {
  color: #FFFFFF;
}
.footer-main .footer-logo {
  width: 165px;
  height: 100px;
  background: url("img/logo.png") no-repeat center;
  background-size: 165px 100px;
  margin: -.6rem 0 2.1rem -.3rem;
  display: block;
}

.footer-bottom {
  margin-top: 3rem;
  text-align: center;
}
.footer-bottom .copyright {
  display: inline-block;
  color: #FFFFFF;
}
.footer-bottom .copyright :after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: #FFFFFF;
}
.footer-bottom .copyright :last-child::after {
  display: none;
}

}
</style>