<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="UTF-8">
<meta name="description" content="A method for responsive tables">
<title>AppToU | {% block title %} {% endblock %}</title>

<link rel='stylesheet' type="text/css" href="/css/timepicki.css"/>
<link rel="stylesheet" type="text/css" href="/css/monthly.css">
<link rel="stylesheet" href="css/responsivetables.css">
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">

<link href="/css/angular-datatables.min.css" rel="stylesheet" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/vendor/angular-toastr/dist/angular-toastr.css">
<link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />