<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/AdminLTE/app.js" type="text/javascript"></script>

<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/vendor/angular/angular.js"></script>

<script type="text/javascript" src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/vendor/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/vendor/angular-toastr/dist/angular-toastr.js"></script>
<script type="text/javascript" src="/vendor/lodash/lodash.js"></script>
<script type="text/javascript" src="/vendor/async/lib/async.js"></script>

<script type="text/javascript" src="js/plugins/angular-datatables.min.js"></script>
<script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/vendor/angular-filter-master/dist/angular-filter.min.js"></script>

<!--<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
-->

<!--Añadido por Jaime-->
<script type="text/javascript" src="/js/plugins/monthly.js"></script>
<script type="text/javascript" src="/js/plugins/circle-progress.js"></script>
<script type="text/javascript" src="js/plugins/timepicki.js"></script>


<!--Añadido por Juan-->
<script type="text/javascript" src="js/plugins/ui-bootstrap-tpls-0.14.3.min.js"></script>

<!--App Angular-->
<script type="text/javascript" src="/app/app.js"></script>

<!--Controllers Angular-->
<script type="text/javascript" src="/app/index/controllers/indexCtrl.js"></script>
<script type="text/javascript" src="/app/sign/controllers/registroCtrl.js"></script>
<script type="text/javascript" src="/app/sign/controllers/loginCtrl.js"></script>
<script type="text/javascript" src="/app/dashboard/controllers/dashboardCtrl.js"></script>
<script type="text/javascript" src="/app/tareas/controllers/tareasCtrl.js"></script>
<script type="text/javascript" src="/app/materia/controllers/alertasCtrl.js"></script>
<script type="text/javascript" src="/app/inscribir/controllers/inscribirCtrl.js"></script>
<script type="text/javascript" src="/app/inscribir/controllers/ModalInstanceCtrl.js"></script>
<script type="text/javascript" src="/app/inscribir/controllers/tableCtrl.js"></script>


<!--Services Angular-->
<script type="text/javascript" src="/app/services/toastr.js"></script>
<script type="text/javascript" src="/app/services/session.js"></script>
<script type="text/javascript" src="/app/services/tareas.js"></script>
<script type="text/javascript" src="/app/services/alertas.js"></script>
<script type="text/javascript" src="/app/services/materias.js"></script>
<script type="text/javascript" src="/app/services/enlaces.js"></script>